includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
        - bootstrap
        - config
        - database
        - public
        - resources




    level: 5